.topnav {
  background-color: #0699ee;
  top: 0;
  position: fixed;
  width: 100vw;
  left: 0;
  /* overflow: hidden; */
  transition: top 0.3s;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.head-img {
  padding-top: 60000;
  padding-bottom: 60000;
}

body {
  padding: 0;
  margin: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #000;
  color: white;
}

.center-fit {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 230px;
  margin-bottom: 230px;
}

#vid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.some-text {
  background-color: white;
  width: 100vw;
  margin: 0;
  padding: 0;
  left: 0;
}

.Small-Heading-Thing {
  display: block;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 5%;
  padding-bottom: 5%;
}

ul {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  width: 100%;
  /* background: #cacaca; */
  margin-left: 25%;
  margin-right: 25%;
  /* padding-left: 100; */
  /* padding-right: 100; */
}
li {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
  /* background: #fafafa; */
  text-align: center;
}

.image-with-text {
  text-align: center;
}

#personimg {
  padding-left: 10px;
}

.par {
  justify-content: space-between;
  display: flex;
}

.circular--square {
  border-radius: 50%;
}

.center-ls {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
